<li>
  <%= image_tag user.avatar.url(:medium) %>
  <%= link_to user.name, user %>
  <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "Are you sure?" } %>
</li>
