<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= image_tag @user.avatar.url(:medium) %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
      <span style="padding-right: 73%;"><%= render 'follow_form' if signed_in? %>
    </section>
  </aside>
</div>
